.ContacsPage {
  border: 1px solid black;
  margin-top: 5%;
}
.ContacsPage p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.FormBlock {
  margin: 20px auto;
  width: 500px;
  text-align: center;
}

.FormBlock button {
  padding: 5px;
  background: rgb(200, 152, 245);
  border: 1px solid rgb(200, 152, 245);
  outline: none;
}
.FormBlock button:hover {
  background: violet;
  border: 1px solid violet;
  cursor: pointer;
}
.Input {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
a .Input:focus {
  outline: none;
  background-color: #ccc;
}
