.AddPage {
  width: 800px;
  margin: 3% auto;
  border: 2px solid black;
  padding: 35px;
}

.Field {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.Field:focus {
  outline: none;
}

.AddPage button {
  padding: 10px 15px;
  background: rgb(200, 152, 245);
  border: 1px solid rgb(200, 152, 245);
  outline: none;
}
.AddPage button:hover {
  background: violet;
  border: 1px solid violet;
  cursor: pointer;
}
