.AboutPage {
  margin: 5% 10% 0;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5% 8%;
}
.AboutPage a {
  text-decoration: none;
  color: rgb(200, 152, 245);
}
.AboutPage a:hover {
  text-decoration: underline;
  color: black;
}

.AboutMe {
  margin: 3% 0;
}
